@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania Twojego żądania.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Identyfikator żądania:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb deweloperski</h3>
<p>
    Przełączenie na środowisko <strong>Deweloperskie</strong> pozwoli na wyświetlenie bardziej szczegółowych informacji o występującym błędzie.
</p>
<p>
    <strong>Środowisko deweloperskie nie powinno być włączone w aplikacjach wdrożonych na serwery produkcyjne.</strong>
    Może to prowadzić do ujawnienia poufnych informacji o wyjątkach użytkownikom końcowym.
    Do lokalnego debugowania włącz środowisko <strong>Deweloperskie</strong>, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> na wartość <strong>Development</strong>
    i ponownie uruchamiając aplikację.
</p>
