@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Witamy na TurboReserve!</h1>
    <p>Twoje rozwiązanie do rezerwacji usług specjalistycznych: mechaników, elektryków, hydraulików i wielu innych!</p>
</div>

<section class="features mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-wrench fa-3x mb-3"></i>
                <h3>Szeroki wybór usług</h3>
                <p>Wybieraj spośród najlepszych specjalistów w Twojej okolicy.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-calendar-check fa-3x mb-3"></i>
                <h3>Łatwa rezerwacja</h3>
                <p>Rezerwuj terminy szybko i wygodnie, bez zbędnych formalności.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-shield-alt fa-3x mb-3"></i>
                <h3>Zaufani usługodawcy</h3>
                <p>Sprawdzeni specjaliści z ocenami od klientów.</p>
            </div>
        </div>
    </div>
</section>

<section class="testimonials mt-5">
    <div class="container">
        <h2 class="text-center">Opinie naszych klientów</h2>
        <div class="row">
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p>"TurboReserve to rewelacja! W końcu znalazłem dobrego mechanika w mojej okolicy."</p>
                    <footer class="blockquote-footer">Jan Kowalski</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p>"Szybka i bezproblemowa rezerwacja usług. Polecam każdemu!"</p>
                    <footer class="blockquote-footer">Anna Nowak</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p>"Profesjonalne podejście i łatwa obsługa strony. 10/10."</p>
                    <footer class="blockquote-footer">Piotr Zieliński</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>


